@page "/organization"
@inherits BaseEditorPage<TbOrganization>


<Table @ref="Table" TItem="TbOrganization" OnChange="Query" Bordered RemoteDataSource DataSource="DataSource" @bind-Total="Total" 
       SelectedRows="SelectedRows" TreeChildren="TreeChildren">
    <TitleTemplate>
        <Flex Justify="start" Gap="10">
            <Button Type="@ButtonType.Primary" Color="@Color.Green5" OnClick="OnRefresh">刷新</Button>
            <Button Type="@ButtonType.Primary" OnClick="OnNew">新增</Button>
            <Popconfirm Placement="@Placement.Bottom" Title="您确定要删除所选数据?" OnConfirm="OnDeleteSelectedRow" Disabled="SelectedRows.Count == 0">
                <Button Type="@ButtonType.Primary" Danger >删除</Button>
            </Popconfirm>
        </Flex>
    </TitleTemplate>

    <ColumnDefinitions>
        <Selection />

        <PropertyColumn Property="item => item.Name" Filterable="true" />
        <PropertyColumn Property="item => item.OrganizationType" Filterable="true" />
        <PropertyColumn Property="item => item.Description" />

        <PropertyColumn Property="item => item.ModifyDate" Filterable="true" Sortable="true" />
        <PropertyColumn Property="item => item.ModifyUser" />

        <ActionColumn Title="Action">
            <Button Type="@ButtonType.Primary" OnClick="async () =>OnEdit(context)">编辑</Button>
            <Button Type="@ButtonType.Primary" Color="@Color.Green6" OnClick="async ()=>OnEdit(new TbOrganization() { ParentID=context.ID,Parent=context })">添加子项</Button>
            <Popconfirm Placement="@Placement.Bottom" Title="您确定要删除当前数据?" OnConfirm="async () => await OnDelete(context)">
                <Button Type="@ButtonType.Primary" Danger>删除</Button>
            </Popconfirm>
        </ActionColumn>
    </ColumnDefinitions>
</Table>

<Microsoft.AspNetCore.Components.Sections.SectionContent SectionId="@EditFormSectionID">
    <Form Model="@Editor" LabelColSpan="8" WrapperColSpan="16">
        @{
            if (Editor.Parent != null)
            {
                <FormItem Label="Superior">
                    <Input @bind-Value="@Editor!.Parent.Name" Disabled/>
                </FormItem>
            }
        }
        <FormItem Label="Name">
            <Input @bind-Value="@Editor!.Name" />
        </FormItem>
        <FormItem Label="Type">
            <RadioGroup @bind-Value="@Editor.OrganizationType" TValue="OrganizationType">
                <Radio RadioButton Value="@OrganizationType.Department">部门</Radio>
                <Radio RadioButton Value="@OrganizationType.Association">协会</Radio>
            </RadioGroup>
        </FormItem>
        <FormItem Label="Description">
            <Input @bind-Value="@Editor!.Description" />
        </FormItem>
        <FormItem Label="Sort">
            <Input @bind-Value="@Editor.Sort" />
        </FormItem>
    </Form>
</Microsoft.AspNetCore.Components.Sections.SectionContent>


@{
    base.BuildRenderTree(__builder);
}

